body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.mobile-logo {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 6%;
  top: 3vh;
}

#desktop-navbar,
#mobile-navbar {
  width: 35%;
  position: absolute;
  z-index: 5;
  left: 13%;
  padding: 1em 0 0 0;
}

#desktop-navbar ul,
#mobile-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#desktop-navbar ul li,
#mobile-navbar ul li {
  list-style-type: none;
}

#desktop-navbar ul li img,
#mobile-navbar ul li img {
  position: relative;
  top: -2em;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

#desktop-navbar ul li a,
#mobile-navbar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  padding: 1em;
  cursor: pointer;
}

#desktop-navbar ul li a:hover,
#mobile-navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: #ffffff;
}

#mobile-navbar {
  display: none;
}

.banner {
  padding: 0 0 0 1em;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40vh;
}

.container .hamburger-menu {
  position: relative;
  left: 85%;
  top: 2em;
  height: 3em;
  border: none;
  background: none;
  visibility: hidden;
}

.container .banner__image {
  background-image: url("https://res.cloudinary.com/dclcrd741/image/upload/q_auto:best/v1621353686/africamap_vbr6ut.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  z-index: -3;
  width: 75%;
  height: 100%;
}

.banner__description {
  position: relative;
  top: -15vh;
  width: 70%;
}

.banner__description h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.4em;
}

.banner__description .pencil-swoosh svg {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 0;
}

.banner__description p {
  font-size: 12px;
  line-height: 1.4em;
  width: 130%;
}

.pair-btns {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pair-btns .pair-btns__colored {
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  padding: .65em;
  border-radius: 2px;
  border: none;
  width: 50%;
}

.pair-btns .pair-btns__plain {
  position: relative;
  width: 48%;
  text-align: center;
  margin-right: 4em;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.pair-btns .pair-btns__plain svg {
  position: absolute;
  bottom: 4px;
}

.pair-btns .pair-btns__colored:hover,
.pair-btns .pair-btns__plain:hover {
  outline: 2px solid yellow;
}

.accomplishments {
  width: 75%;
  margin: 0 auto;
  position: relative;
  top: -5em;
  display: -ms-grid;
  display: grid;
  grid-gap: .7em;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0 1em 0 0;
}

.accomplishments .accomplishments__list {
  text-align: center;
}

.accomplishments .accomplishments__list div {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.accomplishments .accomplishments__list div img {
  width: 100%;
  height: 100%;
}

.accomplishments .accomplishments__list h2 {
  font-weight: 700;
  font-size: 14px;
}

.accomplishments .accomplishments__list p {
  font-size: 12px;
}

.about {
  width: 98%;
  position: relative;
  top: -5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about__image-container {
  width: 40%;
  z-index: -1;
}

.about .about__image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.about .about__description {
  position: relative;
  width: 53%;
  padding: 0 1em 0 0;
  text-align: right;
}

.about .about__description h2 {
  margin: 0 0 1.5em 0;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2em;
}

.about .about__description h3 {
  margin: 0 0 1.5em 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}

.about .about__description p {
  text-align: left;
  font-size: 12px;
  line-height: 1.4em;
}

.pencil-swoosh1 {
  position: relative;
}

.pencil-swoosh1 svg {
  position: absolute;
  bottom: .1em;
  left: .1em;
  z-index: -1;
}

.pair-btns1 {
  position: absolute;
  right: 0;
  padding: 0 1em 0 0;
  margin: 1.4em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}

.pair-btns1 .pair-btns__plain1 {
  border: none;
  background: none;
  font-size: 12px;
}

.pair-btns1 .pair-btns__plain1 svg {
  position: relative;
  top: .7em;
}

.pair-btns1 .pair-btns__colored1 {
  font-size: 12px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.success-stories {
  margin: 6em 0 0 0;
}

.success-stories header {
  text-align: center;
  margin: 0 0 3em 0;
}

.success-stories .stories-container {
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  grid-gap: .7em;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.success-stories .stories-container .story .story__image-container {
  width: 100%;
}

.success-stories .stories-container .story .story__image-container img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.success-stories .stories-container .story p {
  font-size: 12px;
}

.blog-section {
  margin: 6em 0 0 0;
}

.blog-section header {
  text-align: center;
  margin: 0 0 3em 0;
}

.blog-section .blog-container {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: .85em;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.blog-section .blog-container .blog-post {
  background-color: #F9F9FA;
}

.blog-section .blog-container .blog-post .image-container {
  position: relative;
  width: 100%;
  height: 25vh;
}

.blog-section .blog-container .blog-post .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.blog-section .blog-container .blog-post .image-container .post-date {
  background-color: #F3C41A;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog-section .blog-container .blog-post .image-container .post-date h4,
.blog-section .blog-container .blog-post .image-container .post-date p {
  color: #ffffff;
  margin: .25em 0;
  text-align: center;
}

.blog-section .blog-container .blog-post .image-container .post-date h4 {
  font-size: 18px;
  font-weight: 800;
}

.blog-section .blog-container .blog-post .image-container .post-date p {
  font-size: 12px;
}

.blog-section .blog-container .blog-post h3,
.blog-section .blog-container .blog-post p {
  padding: 0 0 0 .85em;
}

.blog-section .blog-container .blog-post p {
  font-size: 12px;
  text-align: left;
}

.twitter-posts {
  margin: 6em 0 0 0;
}

.twitter-posts header h2 {
  text-align: center;
  margin: 0 0 3em 0;
}

.twitter-posts .twitter-posts-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.twitter-posts .twitter-tweet {
  width: 40%;
  margin-right: .75em;
  padding: 1em;
}

.twitter-posts .twitter-tweet p {
  overflow-x: hidden;
}

footer {
  margin: 6em 0 0 0;
  padding: 3em 0;
  position: relative;
}

footer #mc_embed_signup {
  position: relative;
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  height: 25vh;
}

footer #mc_embed_signup header {
  width: 100%;
  margin: 1.2em 0 0 0;
  position: absolute;
  z-index: 5;
}

footer #mc_embed_signup header h2 {
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 24px;
  text-align: center !important;
}

footer #mc_embed_signup form {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 5;
  margin: 0 auto;
}

footer #mc_embed_signup form .clear {
  width: 80%;
  margin: 0 auto;
}

footer #mc_embed_signup form .clear .email {
  text-align: center;
  border-radius: 15px 0 0 15px;
  width: 60%;
  padding: 1.5em;
  color: #000000 !important;
  font-size: 12px;
}

footer #mc_embed_signup form .clear .button {
  background-color: #F3C41A;
  position: relative;
  left: -10px;
  width: 30%;
  height: 38px;
  border-radius: 0 15px 15px 0;
}

footer #mc_embed_signup .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

footer #mc_embed_signup img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

footer .footer-content-container {
  padding: 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1c2435;
}

footer .footer-content-container .footer-description {
  width: 35%;
  margin: 3em 0 0 0;
}

footer .footer-content-container ul {
  margin-bottom: 4em;
}

footer .footer-content-container ul h2 {
  color: #010101;
}

footer .footer-content-container ul li {
  list-style-type: none;
  margin-top: 1em;
}

footer .footer-content-container ul li a {
  text-decoration: none;
  color: #1c2435;
}

footer .footer-content-container ul li a:hover {
  color: #F3C41A;
}

footer .socials {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .socials ul li {
  list-style-type: none;
}

footer .socials ul li .social-icon {
  fill: #ffffff;
}

footer .socials ul li .social-icon:hover {
  fill: #F3C41A;
}

footer .bottom-wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width: 503px) {
  .success-stories .stories-container {
    display: block;
  }
  .blog-section .blog-container {
    display: block;
  }
}

@media only screen and (max-width: 623px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .about__image-container {
    width: 300px;
    height: 250px;
  }
  .about .about__description {
    width: 80%;
    left: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-logo {
    display: block;
  }
  #desktop-navbar {
    display: none;
  }
  #mobile-navbar {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
  }
  #mobile-navbar ul {
    display: block;
  }
  #mobile-navbar ul li {
    margin: 2em 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #mobile-navbar ul li a {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  #mobile-navbar ul li button {
    margin: 0 3em 0 0;
    border: none;
    background: none;
  }
  .container .hamburger-menu {
    visibility: visible;
  }
  .footer-content-container {
    display: block !important;
  }
  .footer-content-container .footer-description {
    text-align: left;
    width: 80% !important;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 12px;
  }
  .footer-content-container ul {
    margin-top: 2em;
  }
  .footer-content-container ul iframe {
    width: 90%;
    height: 200px;
  }
  .footer-content-container ul li {
    font-size: 12px;
  }
}

@media only screen and (min-width: 520px) {
  .banner__description p {
    width: 65%;
  }
}

@media only screen and (min-width: 699px) {
  .container .banner__image {
    background-position: -55% -80px;
  }
}

@media only screen and (min-width: 776px) {
  .banner__description {
    top: -15vh;
  }
  .banner__description p {
    width: 50%;
  }
  .banner__description .pair-btns {
    width: 50%;
  }
  #desktop-navbar {
    width: 65%;
    left: 0;
  }
}

@media only screen and (min-width: 816px) {
  .banner,
  .accomplishments,
  .about,
  .success-stories,
  .blog-section,
  .twitter-posts {
    padding: 0 0 0 1.6em;
  }
  .banner__description h1 {
    font-size: 30px;
  }
  .banner__description p {
    font-size: 16px;
  }
  .accomplishments {
    top: -8em;
    padding: 0 2em 0 0;
  }
  .accomplishments .accomplishments__list h2 {
    font-size: 20px;
  }
  .accomplishments .accomplishments__list p {
    font-size: 16px;
  }
  .about .about__description h2 {
    font-size: 30px;
  }
  .about .about__description h3 {
    font-size: 21px;
  }
  .about .about__description p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 839px) {
  .banner__description {
    top: -30vh;
  }
  .container {
    height: 60vh;
  }
  .accomplishments {
    top: -25vh;
  }
}

@media only screen and (min-width: 1270px) {
  #desktop-navbar {
    width: 40%;
    left: 13%;
  }
  .container {
    height: 70vh;
  }
  .container .banner__image {
    background-position: 0 -100px;
    width: 50%;
  }
  .banner__description {
    top: -40vh;
    left: 13%;
  }
  .banner__description .pencil-swoosh svg {
    top: 2.2em;
  }
  .accomplishments {
    width: 55%;
    top: -11em;
  }
  .accomplishments .accomplishments__list div {
    width: 25px;
    height: 25px;
  }
  .accomplishments .accomplishments__list h2 {
    font-size: 16px;
  }
  .accomplishments .accomplishments__list p {
    font-size: 11px;
  }
  .about .about__image-container {
    right: -5%;
  }
  .about .about__description {
    height: 50vh;
    width: 30%;
    position: relative;
    left: -10%;
    margin-top: 5em;
  }
  .about .about__description h2 {
    font-size: 40px;
    line-height: 1.2em;
  }
  .about .about__description h3 {
    font-size: 21px;
    line-height: 1.3em;
  }
  .about .about__description p {
    font-size: 14px;
    line-height: 1.5em;
  }
  .success-stories header h2,
  .blog-section header h2,
  .twitter-posts header h2 {
    font-size: 40px;
    line-height: 1.2em;
  }
  footer form .clear {
    width: 30% !important;
  }
  footer .contact {
    top: 3vh;
    width: 20%;
  }
}
/*# sourceMappingURL=main.css.map */